<div class="sidebar-info">

  <figure class="avatar-box">
    <img src="./assets/imagenes/foto_personal.png" alt="Jhoan Gonzalez" width="80">
  </figure>

  <div class="info-content">
    <h1 class="name" title="Jhoan Gonzalez">Jhoan Gonzalez</h1>
    <p class="title">Desarrollador Web</p>
  </div>

  <button class="info_more-btn" data-sidebar-btn>
    <span>Mostrar Contactos</span>
    <ion-icon name="chevron-down"></ion-icon>
  </button>

</div>

<div class="sidebar-info_more">

  <div class="separator"></div>

  <ul class="contacts-list">

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="mail-outline"></ion-icon>
      </div>

      <div class="contact-info">
        <p class="contact-title">Correo</p>
        <a href="mailto:camilogonzalezherra@gmail.com
          ?subject=Contacto desde tu portafolio
          &body=Hola Jhoan,%0D%0A%0D%0AQuiero ponerme en contacto contigo.%0D%0A%0D%0ASaludos." class="contact-link">
          camilogonzalezherra@gmail.com
        </a>

      </div>
    </li>

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="phone-portrait-outline"></ion-icon>
      </div>

      <div class="contact-info">
        <p class="contact-title">Telefono</p>
        <a href="tel:+573236643023" class="contact-link">+57 (323) 664-3023</a>
      </div>
    </li>

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>

      <div class="contact-info">
        <p class="contact-title">Cumpleaños</p>
        <time datetime="1982-06-23">Agosto 01, 2006</time>
      </div>
    </li>

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="location-outline"></ion-icon>
      </div>

      <div class="contact-info">
        <p class="contact-title">Ubicacion</p>
        <address>Bogota D.C, Colombia</address>
      </div>
    </li>

  </ul>

  <div class="separator"></div>

  <ul class="social-list">

    <li class="social-item">
      <a href="https://www.linkedin.com/in/jhoan-camilo-gonzalez-herrera-255014257/" class="social-link">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </li>

    <li class="social-item">
      <a href="https://www.instagram.com/cj_camilo_gh/" class="social-link">
        <ion-icon name="logo-instagram"></ion-icon>
      </a>
    </li>

    <li class="social-item">
      <a href="#" class="social-link">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </li>

  </ul>

</div>